a {
  color: #9b6b23;
  text-decoration: none;
}

.accordion-item * {
  color: white;
}

.contacts-list {
  list-style: none;
  padding-left: 0;

  &__item {
    position: relative;

    &:hover {
      &::after {
        left: 0;
        width: 100%;
      }
    }

    &::after {
      content: '';
      width: 0;
      height: 0.1em;

      position: absolute;
      left: 50%;
      bottom: -0.2em;

      background-color: yellow;

      transition: 0.3s;
    }
  }

  &__link {
    display: block;
    width: 100%;
    transition: 0.3s;

    &:hover {
      color: yellow;
    }
  }
}

@media (min-width: 768px){
  .contacts-list {
    padding: 2rem;
    list-style: disc;
  }
}

.accordion-button{
  background-color: #0d6efd;

  &::after {
    background-image: url('../assets/images/arrow-down.svg');
  }
}

.accordion-item {
  border: none;
}

.accordion-header{
  transition: 0.3s;

  &:hover .accordion-button{
    color: yellow;
  }
}